.login {
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* ------------------Section for the login image ------------------ */
.login-image {
    width: 50%;
}

.login-image img {
    width: 100%;
}



/* ------------------ Form section for user input ------------------ */
.login-form {
    width: 30%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.login-form h1 {
    padding: 10px 0;
}

.login-form p {
    padding: 0 0 40px 0;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ccc;
}

.login-form input:focus {
    outline: none;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
}

.login-form a {
    margin-top: 10px;
    color: red;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
