.contact {
    margin: 5% 8%;
    display: flex;
}

/* ---------- Sidebar navigation ---------- */
.nav {
    width: 30%;
    padding: 80px 0;
}

.nav h3 {
    color: black;
    margin-top: 5%;
}

.nav ul li {
    list-style: none;
    color: #474646;
    padding-left: 20px;
    line-height: 2;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.nav ul li.active {
    color: #DB4444;
}




/* ---------- common-container ---------- */
.common-container {
    width: 60%;
    height: fit-content;
    padding: 80px 100px;
    box-shadow: #ccc 0px 0px 2px;
    border-radius: 5px;
}




/* ---------- titles  ---------- */
.main-title {
    color: #DB4444;
    margin-bottom: 5%;
}

.sub-title{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}




/* ---------- Styling for form inputs for ALL---------- */
.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f6f5f5;
}

.form-group input:focus {
    outline: none;
}