.return-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.status {
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 5px;
}


.processing { color: orange ; }
.completed { color: green; }
.pending { color: blue !important;  }

.return-actions {
    margin-top: 10px;
}

.track-button {
    background: blue;
    margin-right: 4%;
}

.cancel-return-button {
    background: red;
}

.no-returns {
    color: #666;
    font-style: italic;
}

