.signup {
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ------------------ Section for the signup image ------------------ */
.signup-image {
    width: 50%;
}

.signup-image img {
    width: 100%;
}


/* ------------------ Form section for user input ------------------ */
.signup-form {
    width: 30%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.signup-form h1 {
    padding: 10px 0;
}

.signup-form p {
    padding: 0 0 40px 0;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #ccc;
}

.signup-form input:focus {
    outline: none;
}

.google{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.google img{
    padding-right: 20px;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
}

.signup-form a {
    margin-top: 10px;
    color: red;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
